In [6]:
import pandas as pd
import numpy as np

auctions = pd.read_csv('datos/auctions.csv.gzip', compression = 'gzip', dtype = {'country': 'category', 'source_id': np.int8, 'ref_type_id': np.int8, 'platform': np.int8})                         
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [5]:
auctions['auction_type_id'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: auction_type_id, dtype: float64

In [31]:
auctions.memory_usage(deep=True)

Index                      80
auction_type_id     156570552
country              19571407
date               1624419477
device_id           156570552
platform             19571319
ref_type_id          19571319
source_id            19571319
dtype: int64

In [8]:
auctions['platform'].describe()

count    1.957132e+07
mean     1.205888e+00
std      4.043488e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
Name: platform, dtype: float64

In [13]:
auctions['platform'] = auctions['platform'].astype(np.int8)

In [19]:
auctions['ref_type_id'].value_counts()

1    15541825
7     4029494
Name: ref_type_id, dtype: int64

In [18]:
auctions['ref_type_id'].describe()

count    1.957132e+07
mean     2.235326e+00
std      2.426093e+00
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      7.000000e+00
Name: ref_type_id, dtype: float64

In [20]:
auctions['ref_type_id'] = auctions['ref_type_id'].astype(np.int8)

In [22]:
auctions['source_id'].value_counts()

0    13354597
1     4016739
5     1466494
2      582083
6      151406
Name: source_id, dtype: int64

In [23]:
auctions['source_id'] = auctions['source_id'].astype(np.int8)

In [25]:
auctions['device_id'].value_counts()

633139769114048761     27762
7202276635029175071    23055
7298861376107043945    18188
6302840482782120473    16400
5376802567578262905    16367
8963711959081981780    14362
795159065504552200     12275
6841615430383729819    12077
5384039226444052914    11632
3198179064438296471    11565
519658456951133298     10541
2435544514359302887    10274
8751190726444323885    10256
1835469468095030098    10121
1800317677967270083    10036
9027154272484048876     9958
7574657722181550308     9767
5051610571898428259     9642
320899491737875154      9388
8292793494956750501     9315
201759600719985554      9158
8021195662481548645     9128
7650408579713341483     9020
6392567838173461255     8994
1478017482044456084     8839
6203407103275384250     8823
68016455690089173       8809
8496718680483076445     8682
8491787427844905567     8513
4834359787191717922     8495
                       ...
5751956180575781757        1
2048572451559832028        1
3744576664345883432        1
7367086705606121699        1
646535409008459333         1
6770910701982113580        1
2863959931991583508        1
2696817569245344530        1
7553430075553844653        1
4617307111815896778        1
5240339451295485635        1
4692566548344272637        1
35674910428474471          1
3159093650487986533        1
1942683830003570264        1
8019294471594894593        1
6869424683092918051        1
959426849812803471         1
1944088880283346077        1
6622057180348619453        1
3652020858507657809        1
6021685018865299736        1
6725662693426834602        1
6936985002156508492        1
8787642868763157961        1
6586001901497243197        1
4903599056466380772        1
9101372426762671929        1
4378253870857185347        1
5221298118515168096        1
Name: device_id, Length: 206977, dtype: int64

In [26]:
#No hay un objeto fechas???

AttributeError: module 'numpy' has no attribute 'date'

In [29]:
auctions['country'].value_counts().count()

1

In [30]:
auctions['country'] = auctions['country'].astype('category')

In [33]:
auctions['date'].value_counts()

2019-03-05 01:12:18.412853    2
2019-03-12 00:40:46.127655    2
2019-03-10 20:29:46.573188    2
2019-03-11 00:20:08.471721    2
2019-03-09 14:32:34.986506    2
2019-03-07 15:18:12.580181    2
2019-03-13 00:01:18.439741    2
2019-03-09 17:12:06.546868    2
2019-03-08 18:26:12.915261    2
2019-03-12 22:14:33.844585    2
2019-03-08 23:07:44.322713    2
2019-03-08 22:59:01.775993    2
2019-03-12 23:04:26.727770    2
2019-03-11 02:43:29.612705    2
2019-03-11 05:07:33.661900    2
2019-03-10 17:41:54.881489    2
2019-03-08 19:12:02.817007    2
2019-03-09 02:02:39.770658    2
2019-03-10 04:00:46.126062    2
2019-03-07 01:24:15.719336    2
2019-03-10 23:24:16.580523    2
2019-03-09 19:16:54.137965    2
2019-03-12 18:25:01.495157    2
2019-03-11 23:24:16.873594    2
2019-03-09 10:54:28.405309    2
2019-03-10 17:22:25.879424    2
2019-03-13 20:04:25.059247    2
2019-03-12 01:52:34.370206    2
2019-03-12 18:46:02.910741    2
2019-03-08 21:11:26.907974    2
                             ..
2019-03-09 18:07:34.906129    1
2019-03-05 02:22:00.751303    1
2019-03-13 12:07:03.255074    1
2019-03-06 10:06:57.081813    1
2019-03-10 16:14:25.789761    1
2019-03-10 03:38:07.759106    1
2019-03-06 12:36:43.597410    1
2019-03-10 21:10:25.032272    1
2019-03-11 01:52:00.904685    1
2019-03-12 12:00:07.302771    1
2019-03-12 16:55:01.455321    1
2019-03-11 11:41:22.128886    1
2019-03-11 23:30:08.521291    1
2019-03-12 11:29:55.236029    1
2019-03-11 21:31:32.225911    1
2019-03-10 20:20:52.073547    1
2019-03-11 03:23:07.812254    1
2019-03-06 04:15:44.555597    1
2019-03-08 02:00:50.796282    1
2019-03-07 21:54:45.656712    1
2019-03-07 20:45:16.621221    1
2019-03-05 11:25:29.452739    1
2019-03-12 00:47:46.294810    1
2019-03-06 03:12:09.251691    1
2019-03-13 21:52:38.554844    1
2019-03-11 17:37:18.032674    1
2019-03-05 04:48:05.952634    1
2019-03-10 04:31:07.401718    1
2019-03-11 18:18:24.156631    1
2019-03-08 19:01:49.942926    1
Name: date, Length: 19570963, dtype: int64