In [1]:
# magic function para hacer que los graficos de matplotlib se renderizen en el notebook.
#%matplotlib notebook
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Glosario
# * Convertir: el objetivo de mostrar publicidad es que un dispositivo instale una aplicación,
# a ese evento se le llama conversión.
# *Dispositivo: ​ entidad con un id de publicidad asociado. Por ejemplo: un celular Samsung
#J6 con Android tiene un ​ id único , ​ un Apple iPhone tiene un ​ identificador único . ​
# * Evento: cualquier tipo de acción categorizada dentro de una aplicación. ​ Por ejemplo, en
#una aplicación de e-commerce un ​ funnel de eventos ​ muy común puede ser del estilo
#“abrir_app” → “buscar_producto” → “revisar_catalogo” → “agregar_a_carrito” →
#“efectuar_compra”. Cada uno de estos pasos es un ​ evento ​ .
#* Subasta: en el momento que una aplicación quiere mostrar una publicidad, ese espacio
#se vende en una subasta (generalmente de segundo precio) donde todos los
#interesados en mostrar una publicidad ofertan un precio y gana quién más ofrece.
#funnel de eventos: secuencia de eventos

In [2]:
auctions = pd.read_csv('../data2/auctions.csv.gzip',compression='gzip', dtype='object')

In [3]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 7 columns):
auction_type_id    object
country            object
date               object
device_id          object
platform           object
ref_type_id        object
source_id          object
dtypes: object(7)
memory usage: 1.0+ GB

In [4]:
# vemos que las subastas tiene un país(donde se produjo la subasta?), una fecha, un device_id(?), platform(?)
# e identificadores de auction_type > existen diferentes tipos de subastas
auctions.head()

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [10]:
# Vemos paises llevan a cabo subastas
auctions.groupby(['country']).count()

,auction_type_id,date,device_id,platform,ref_type_id,source_id
country,,,,,,
6333597102633388268,0,19571319,19571319,19571319,19571319,19571319

## Sólo existe un país en donde se realizan las subastas

## Clicks

## desc ???

## Events

In [ ]:
# Qué tipo de eventos existen ?

## Installs

## Target competencia