In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [3]:
clicks = pd.read_csv('../data/clicks.csv.gzip',compression='gzip', dtype='object')
clicks.describe().transpose()

                 count unique                              top   freq
advertiser_id    26351      7                                3  26263
action_id            0      0                              NaN    NaN
source_id        26351     11                                0  17009
created          26351  26347         2019-03-07T23:24:46.085Z      2
country_code     26351      1              6333597102633388268  26351
latitude         26351     78               1.2056887519199482  22949
longitude        26351     81               1.0702342714774236  22949
wifi_connection  26351      1                            False  26351
carrier_id       26340     55                              4.0   4569
trans_id         26351  26351  TNjkRJ46OCJKJIl62JxAYHdj4jHw8to      1
os_minor         26339     28           3.3786399484966047e+18   6922
agent_device      3243    190           3.5168117921816156e+18    656
os_major         26339     12            3.072849339937028e+18   7430
specs_brand      26351      5               392184377613098015  16172
brand             6235     13                              2.0   2027
timeToClick      22977  17294                            0.261     11
touchX           23011   1001                            0.996    204
touchY           23011   3914                            0.000    193
ref_type         26351      4              1891515180541284343  25549
ref_hash         26351  17119              4063522808706112974     41

In [4]:
clicks.shape

(26351, 20)

In [6]:
clicks['source_id'].value_counts()

0     17009
1      4298
6      3371
5      1628
2        27
3         9
10        3
4         2
7         2
9         1
8         1
Name: source_id, dtype: int64

In [7]:
clicks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.2056887519199482,1.0702342714774236,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137412412545e+18,NaN,3.072849339937028e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093
1,0,NaN,0,2019-03-08T10:24:30.641Z,6333597102633388268,1.218923733431926,1.0712090638488148,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219449024123e+18,NaN,1.77408510258909e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,0,NaN,0,2019-03-08T15:24:16.069Z,6333597102633388268,1.2056887519199482,1.0702342714774236,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.97565607170903e+18,NaN,3.072849339937028e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647
3,2,NaN,3,2019-03-06T03:08:51.543Z,6333597102633388268,1.2056887519199482,1.0702342714774236,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137412412545e+18,NaN,3.072849339937028e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525
4,2,NaN,3,2019-03-06T03:32:55.570Z,6333597102633388268,1.2056887519199482,1.0702342714774236,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137412412545e+18,NaN,3.072849339937028e+18,2733035977666442898,NaN,28.11,0.054,0.423,1891515180541284343,4368617728156436525