In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [3]:
clicks = pd.read_csv('../data/clicks.csv.gzip',compression='gzip', dtype='object')
clicks.describe().transpose()

                 count unique                              top   freq
advertiser_id    26351      7                                3  26263
action_id            0      0                              NaN    NaN
source_id        26351     11                                0  17009
created          26351  26347         2019-03-10T05:02:10.703Z      2
country_code     26351      1              6333597102633388268  26351
latitude         26351     78               1.2056887519199482  22949
longitude        26351     81               1.0702342714774236  22949
wifi_connection  26351      1                            False  26351
carrier_id       26340     55                              4.0   4569
trans_id         26351  26351  -c2o4pQP5Men95x2-9_d3fvYPW4h3bg      1
os_minor         26339     28           3.3786399484966047e+18   6922
agent_device      3243    190           3.5168117921816156e+18    656
os_major         26339     12            3.072849339937028e+18   7430
specs_brand      26351      5               392184377613098015  16172
brand             6235     13                              2.0   2027
timeToClick      22977  17294                            0.261     11
touchX           23011   1001                            0.996    204
touchY           23011   3914                            0.000    193
ref_type         26351      4              1891515180541284343  25549
ref_hash         26351  17119              4063522808706112974     41

In [4]:
clicks.shape

(26351, 20)