In [1]:
import pandas as pd
import matplotlib as mp
import numpy as np
from datetime import timedelta
import datetime as dt
import gc

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import xgboost as xgb

%matplotlib inline

/usr/local/lib/python2.7/dist-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

# Levanto los installs ya procesados
....

In [2]:
#Root de archivos de datos
root_dir = '../data/'

#Lee menos data si es testing
is_testing = False

# Cantidad minima de aparicion de equipos en un dataframe
#min_devices = 5
min_devices = 20

# Identificador unico de equipos
device_uuid = ['ref_hash']

# Ventanas de tiempo
windows = pd.DataFrame({
    'begin_date': [dt.datetime(2019,4,18),dt.datetime(2019,4,21),dt.datetime(2019,4,24)],
    'window_nr':[1,2,3]
})

In [3]:
installs_dtypes = {
    'application_id': np.int32,
    'ref_hash': np.int64, 
    #'click_hash':'category',
    'attributed': 'category',
    'implicit': 'category',
    #'device_countrycode': 'object', 
    'device_brand': 'object',
    'device_model': 'object', 
    'session_user_agent': 'object', 
    'user_agent': 'object', 
    'event_uuid':'object',
    'kind': 'object',
    'wifi': 'object', 
    'trans_id': 'object', 
    #'ip_address':'object', 
    'device_language': 'object'
}
install_cols = list(installs_dtypes.keys()) + ['created']
installs = pd.read_csv(root_dir + 'installs.csv.gzip', 
                       compression='gzip', 
                       usecols=install_cols,
                       dtype= installs_dtypes,
                      parse_dates=['created'])

installs['n'] = 1
print('#records install:', installs['n'].sum())

('#records install:', 481511)

In [4]:
# Labels a submitir con las predicciones
to_predict = pd.read_csv(root_dir + 'target_competencia_ids.csv')
to_predict = to_predict.apply(lambda x: np.int64(x['ref_hash'][0:x['ref_hash'].find('_')]), axis='columns').drop_duplicates().to_frame()
to_predict.columns = ['ref_hash']

In [5]:
unique_hashes = pd.read_csv(root_dir+'unique_hashes.csv')

---
## 2. Arreglo de los datos

### Separo las semanas de entrenamiento

Se utiliza el siguiente metodo: 

1. Ventana del 18 al 20 inclusive (1) -> Predice valores entre el 21 y 24 (2)
2. Ventana del 21 al 23 inclusive (2) -> Predice valores entre el 24 y 26 (3)

In [6]:
print("Tiempo init: "+str(pd.Timestamp.now()))

Tiempo init: 2019-06-22 13:30:33.939140

In [7]:
installs = installs.loc[installs['ref_hash'].isin(unique_hashes['ref_hash'])]
installs.sort_values(by='created',inplace=True)
installs = pd.merge_asof(installs,windows,left_on='created',right_on='begin_date').drop('begin_date', axis='columns')

### 2.2 Arreglo de datos de Installs

In [8]:
installs['kind'] = installs['kind'].str.replace(' ','_')
installs['kind'] = installs['kind'].str.replace('af_app_open ','af_app_opened')
installs['kind'] = installs['kind'].str.replace('af_app_opend','af_app_opened')
installs['kind'] = installs['kind'].str.lower()

In [9]:
installs.isnull().sum()

created                    0
application_id             0
ref_hash                   0
attributed                 0
implicit                   0
device_brand          204813
device_model           26871
session_user_agent     14828
user_agent            150111
event_uuid            377704
kind                  377704
wifi                  186016
trans_id              472140
device_language        27552
n                          0
window_nr                  0
dtype: int64

In [10]:
for i in ['device_brand','device_model','session_user_agent','user_agent','kind','wifi','device_language']:
    installs[i] = installs[i].fillna('unknown')
installs['device_brand'] = installs['device_brand'].astype('category')
installs['device_model'] = installs['device_model'].astype('category')
installs['session_user_agent'] = installs['session_user_agent'].astype('category')
installs['user_agent'] = installs['user_agent'].astype('category')
installs['kind'] = installs['kind'].astype('category')
installs['wifi'] = installs['wifi'].astype('category')
installs['device_language'] = installs['device_language'].astype('category')

In [11]:
installs.head().transpose()

,0,1,2,3,4
created,2019-04-18 00:00:01.560000,2019-04-18 00:00:01.851000,2019-04-18 00:00:05.152000,2019-04-18 00:00:05.589000,2019-04-18 00:00:06.795000
application_id,70,70,65,27,339
ref_hash,4432995619177048534,5904733559638204455,896373747754111825,3399210824535017892,1541425881979513687
attributed,False,False,False,False,False
implicit,False,False,True,False,False
device_brand,unknown,unknown,3.083058605577787e+17,unknown,unknown
device_model,unknown,unknown,5.274185305862703e+18,6.794880020077885e+18,6.794880020077885e+18
session_user_agent,Apsalar-Postback,Apsalar-Postback,http-kit/2.0,http-kit/2.0,http-kit/2.0
user_agent,unknown,unknown,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0
event_uuid,NaN,NaN,8c8af5e3-96e7-4a49-9f17-cafa7f300f2c,NaN,NaN
kind,unknown,unknown,af_app_opened,unknown,unknown
wifi,unknown,unknown,false,true,true
trans_id,NaN,NaN,NaN,NaN,NaN
device_language,unknown,unknown,6.977049253562486e+18,5.221862722669226e+18,7.528973756559112e+18
n,1,1,1,1,1
window_nr,1,1,1,1,1

In [12]:
print("Tiempo end: "+str(pd.Timestamp.now()))

Tiempo end: 2019-06-22 13:30:51.493998

In [13]:
installs.head(1)

,created,application_id,ref_hash,attributed,implicit,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,device_language,n,window_nr
0,2019-04-18 00:00:01.560,70,4432995619177048534,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1

### Cant. de Apps distintas instaladas	por ref_hash

In [151]:
#created: fecha de instalacion de app
#application_id: id interno de instalacion de app
installs['n'] = 1
inst_app_count = installs.groupby(by=['ref_hash','application_id']).sum()
inst_app_count = inst_app_count.reset_index()

In [152]:
inst_app_count.head()

          ref_hash  application_id  n  window_nr
0   40621409780134              77  1          2
1   41863526108385              65  2          2
2   41863526108385             121  2          2
3   90072729247980             210  1          3
4  135153013040192             155  1          1

In [153]:
inst_app_count['m'] = 1

In [154]:
inst_app_count.head(5)

          ref_hash  application_id  n  window_nr  m
0   40621409780134              77  1          2  1
1   41863526108385              65  2          2  1
2   41863526108385             121  2          2  1
3   90072729247980             210  1          3  1
4  135153013040192             155  1          1  1

In [155]:
temp = inst_app_count.groupby('ref_hash').sum()['m'].reset_index()
temp.head()

          ref_hash  m
0   40621409780134  1
1   41863526108385  2
2   90072729247980  1
3  135153013040192  1
4  161514654074162  1

In [156]:
inst_app_count = inst_app_count.merge(temp,how='inner',on='ref_hash')
inst_app_count = inst_app_count[['ref_hash','m_y','window_nr']]
inst_app_count = inst_app_count.rename(columns={"m_y":"count_app_dif"})
inst_app_count = inst_app_count.drop_duplicates()

inst_app_count = inst_app_count.sort_values(by='count_app_dif',ascending=False)
inst_app_count = inst_app_count.drop_duplicates()
inst_app_count.head()

                   ref_hash  count_app_dif  window_nr
247023  5446085605337844584             10          2
247027  5446085605337844584             10          4
41177    906973248467925335              9          4
41178    906973248467925335              9          1
41171    906973248467925335              9          2

In [157]:
inst_app_count.head(2)

                   ref_hash  count_app_dif  window_nr
247023  5446085605337844584             10          2
247027  5446085605337844584             10          4

### Feature: Instal√≥ en la ventana anterior ?

In [290]:
installs.loc[installs['window_nr'] > 3]

Empty DataFrame
Columns: [created, application_id, ref_hash, attributed, implicit, device_brand, device_model, session_user_agent, user_agent, event_uuid, kind, wifi, trans_id, device_language, n, window_nr]
Index: []

In [201]:
inst_app_count.head(6)

                   ref_hash  count_app_dif  window_nr
247023  5446085605337844584             10          2
247027  5446085605337844584             10          4
41177    906973248467925335              9          4
41178    906973248467925335              9          1
41171    906973248467925335              9          2
287444  6337720443035762926              9          1

In [280]:
in_sort2 = in_sort.merge(win_ok,how='inner',on='ref_hash')
in_sort2 = in_sort2[['ref_hash','count_app_dif','window_nr_y']]
in_sort2 = in_sort2.rename(columns={'window_nr_y':'window_nr'})
in_sort2.head(3)

              ref_hash  count_app_dif  window_nr
0  5446085605337844584             10          2
1  5446085605337844584             10          2
2  5446085605337844584             10          2

In [288]:
in_sort2.loc[in_sort2['window_nr'] > 3]

Empty DataFrame
Columns: [ref_hash, count_app_dif, window_nr]
Index: []

In [289]:
in_sort.loc[in_sort['window_nr'] > 3]

                   ref_hash  count_app_dif  window_nr
247027  5446085605337844584             10          4
41177    906973248467925335              9          4
297583  6561273576987834801              7          6
248272  5472947665337192726              7          4
71825   1581855818518364041              7          6
408472  9010591822021924075              6          6
329245  7266425636812329249              6          6
287183  6332251117034865118              6          4
231018  5088289517478304879              6          4
227192  5003101052612746791              6          6
222900  4908417981863807166              6          4
118431  2606457154952693990              6          6
105689  2328515224695623403              6          6
105690  2328515224695623403              6          4
7754     170944542706252604              6          4
394679  8706386001157781478              5          6
394681  8706386001157781478              5          4
390405  8614757787140562038              5          6
390403  8614757787140562038              5          4
363660  8027204936481769133              5          4
344750  7607616350033498972              5          4
328125  7241974824616657333              5          6
299128  6595907804830813692              5          4
294840  6501193172114454871              5          4
294685  6497746857412424011              5          4
280601  6188409696843366479              5          6
280597  6188409696843366479              5          4
245427  5408621828551685669              5          6
245424  5408621828551685669              5          4
240496  5298347285003783609              5          4
...                     ...            ...        ...
445       10162920247842017              1          4
431        9895929705823478              1          4
409        9380136905571609              1          4
401        9178721189869289              1          6
390        8832244710290335              1          6
376        8624897563799496              1          6
375        8593564491594105              1          6
366        8405599620071382              1          6
365        8401962554907643              1          4
351        8149263624569989              1          4
335        7720294196296074              1          6
324        7419066310800794              1          6
311        7010188954377330              1          6
308        6966045450104306              1          4
299        6780610056694028              1          6
260        5933992710346157              1          4
206        4542345673503215              1          6
200        4380705514432868              1          6
190        4192843659720066              1          4
151        3255745973426640              1          4
138        3012587274385581              1          4
120        2642135532498130              1          6
98         2214592390586810              1          4
86         1852500971273658              1          4
80         1741053127274832              1          6
79         1719664649402429              1          4
66         1481188033479514              1          6
49         1037575899869926              1          6
46          955103142671534              1          4
20          475635010681369              1          4

[37750 rows x 3 columns]

In [282]:
in_sort = in_sort2

In [283]:
in_sort = inst_app_count.sort_values(by=['count_app_dif','ref_hash','window_nr'],ascending=False)
in_sort.head(4)

                   ref_hash  count_app_dif  window_nr
247027  5446085605337844584             10          4
247023  5446085605337844584             10          2
287447  6337720443035762926              9          2
287444  6337720443035762926              9          1

# !

In [293]:
installs.loc[installs['window_nr'] > 3]

Empty DataFrame
Columns: [created, application_id, ref_hash, attributed, implicit, device_brand, device_model, session_user_agent, user_agent, event_uuid, kind, wifi, trans_id, device_language, n, window_nr]
Index: []

In [296]:
in_next_prev = installs[['ref_hash','window_nr']]
in_next_prev.head(5)
print("Count: "+str(in_next_prev.count()))

Count: ref_hash     480566
window_nr    480566
dtype: int64

In [323]:
ref_win_1 = in_next_prev.loc[in_next_prev['window_nr'] == 1][['ref_hash']]
ref_win_2 = in_next_prev.loc[in_next_prev['window_nr'] == 2][['ref_hash']]
ref_win_3 = in_next_prev.loc[in_next_prev['window_nr'] == 3][['ref_hash']]
ref_win_2['win_2_in_1'] = ref_win_2['ref_hash'].isin(ref_win_1['ref_hash'])
ref_win_3['win_3_in_2'] = ref_win_3['ref_hash'].isin(ref_win_2['ref_hash'])
in_win = in_next_prev.merge(ref_win_2,how="left",on="ref_hash")
in_win = in_win.merge(ref_win_3,how="inner",on="ref_hash")
in_win_d = in_win.drop_duplicates()
in_win_d.head(10)

               ref_hash  window_nr win_2_in_1  win_3_in_2
0   8509930510698276342          1        NaN       False
2   8509930510698276342          3        NaN       False
3   5072620966954264118          1       True        True
5   5072620966954264118          2       True        True
7   5072620966954264118          3       True        True
11  3664457589760889308          1        NaN       False
12  3664457589760889308          3        NaN       False
13  5894856328487209314          1       True        True
14  5894856328487209314          2       True        True
15  5894856328487209314          3       True        True

In [347]:
in_win_e = in_win_d.fillna(False)
in_win_e.head(10)

               ref_hash  window_nr  win_2_in_1  win_3_in_2
0   8509930510698276342          1       False       False
2   8509930510698276342          3       False       False
3   5072620966954264118          1        True        True
5   5072620966954264118          2        True        True
7   5072620966954264118          3        True        True
11  3664457589760889308          1       False       False
12  3664457589760889308          3       False       False
13  5894856328487209314          1        True        True
14  5894856328487209314          2        True        True
15  5894856328487209314          3        True        True

### Feature: Cantidad de eventos por tipo

In [352]:
installs.head()

,created,application_id,ref_hash,attributed,implicit,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,device_language,n,window_nr
0,2019-04-18 00:00:01.560,70,4432995619177048534,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1
1,2019-04-18 00:00:01.851,70,5904733559638204455,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1
2,2019-04-18 00:00:05.152,65,896373747754111825,False,True,3.083058605577787e+17,5.274185305862703e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,8c8af5e3-96e7-4a49-9f17-cafa7f300f2c,af_app_opened,false,NaN,6.977049253562486e+18,1,1
3,2019-04-18 00:00:05.589,27,3399210824535017892,False,False,unknown,6.794880020077885e+18,http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,NaN,unknown,true,NaN,5.221862722669226e+18,1,1
4,2019-04-18 00:00:06.795,339,1541425881979513687,False,False,unknown,6.794880020077885e+18,http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,NaN,unknown,true,NaN,7.528973756559112e+18,1,1

In [356]:
kind_count = installs.groupby('kind').sum().reset_index()[['kind','n']]

In [359]:
inst_kind = installs

In [360]:
inst_kind2 = inst_kind.merge(kind_count,how='inner',on='kind')
inst_kind2.head()

,created,application_id,ref_hash,attributed,implicit,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,device_language,n_x,window_nr,n_y
0,2019-04-18 00:00:01.560,70,4432995619177048534,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1,377704.0
1,2019-04-18 00:00:01.851,70,5904733559638204455,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1,377704.0
2,2019-04-18 00:00:05.589,27,3399210824535017892,False,False,unknown,6.794880020077885e+18,http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,NaN,unknown,true,NaN,5.221862722669226e+18,1,1,377704.0
3,2019-04-18 00:00:06.795,339,1541425881979513687,False,False,unknown,6.794880020077885e+18,http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,NaN,unknown,true,NaN,7.528973756559112e+18,1,1,377704.0
4,2019-04-18 00:00:08.994,210,8942039642364169230,False,False,unknown,2.0193221952374024e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 8.0.0; FIG-LX3...,NaN,unknown,unknown,NaN,3.3013777759776993e+18,1,1,377704.0

In [363]:
inst_kind = inst_kind2.rename(columns={"n_y":"count_for_kind"})
inst_kind.head(2)

,created,application_id,ref_hash,attributed,implicit,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,device_language,n_x,window_nr,count_for_kind
0,2019-04-18 00:00:01.560,70,4432995619177048534,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1,377704.0
1,2019-04-18 00:00:01.851,70,5904733559638204455,False,False,unknown,unknown,Apsalar-Postback,unknown,NaN,unknown,unknown,NaN,unknown,1,1,377704.0

In [366]:
inst_kind_train = inst_kind[[]]

                application_id      ref_hash       n_x  window_nr
count_for_kind
1.0                       8072  2.203972e+20      45.0      101.0
2.0                       4624  1.230110e+20      26.0       54.0
3.0                       5307  1.310087e+20      30.0       59.0
4.0                       3312  9.916405e+19      24.0       59.0
5.0                       1655  7.955901e+19      20.0       45.0
6.0                       3537  9.961691e+19      24.0       53.0
7.0                       2206  6.952328e+19      14.0       33.0
8.0                       3760  1.115951e+20      24.0       47.0
9.0                       2787  1.322098e+20      27.0       68.0
10.0                      1319  4.974349e+19      10.0       24.0
11.0                      3813  1.343626e+20      22.0       46.0
13.0                      8042  1.770122e+20      39.0       77.0
14.0                      5754  1.117043e+20      28.0       55.0
16.0                      3899  9.171460e+19      16.0       32.0
17.0                     13374  3.369080e+20      68.0      141.0
18.0                      4410  1.322127e+20      36.0       75.0
19.0                      5472  8.559478e+19      19.0       35.0
20.0                      6164  1.880409e+20      40.0       79.0
21.0                      4791  2.209864e+20      42.0       76.0
24.0                      1263  1.119897e+20      24.0       45.0
25.0                      9548  1.856345e+20      50.0      110.0
26.0                      7419  1.301386e+20      26.0       55.0
27.0                      4663  2.373010e+20      54.0      132.0
29.0                      1458  1.141758e+20      29.0       64.0
31.0                      3782  1.574629e+20      31.0       67.0
32.0                     13384  2.684043e+20      64.0      157.0
33.0                      7938  1.541163e+20      33.0       71.0
34.0                      1715  1.630655e+20      34.0       63.0
39.0                      9360  3.573780e+20      78.0      163.0
42.0                      5282  1.779483e+20      42.0       74.0
...                        ...           ...       ...        ...
99.0                     14001  4.653610e+20      99.0      184.0
104.0                     1586  4.908444e+20     104.0      312.0
113.0                    12338  5.759869e+20     113.0      227.0
115.0                    37381  5.111266e+20     115.0      219.0
119.0                     6354  5.796617e+20     119.0      240.0
133.0                    38437  6.609677e+20     133.0      259.0
136.0                     8200  5.825728e+20     136.0      290.0
139.0                     1946  6.634695e+20     139.0      417.0
140.0                    12369  6.273749e+20     140.0      289.0
154.0                    12320  7.296374e+20     154.0      299.0
202.0                    22644  9.308572e+20     202.0      411.0
224.0                    37003  1.011438e+21     224.0      411.0
228.0                    31131  1.054392e+21     228.0      487.0
293.0                    21232  1.387378e+21     293.0      605.0
332.0                    42081  1.554799e+21     332.0      652.0
338.0                    81882  1.631551e+21     338.0      977.0
363.0                    24843  1.605039e+21     363.0      790.0
387.0                   100188  1.744286e+21     387.0     1161.0
504.0                   113904  2.262877e+21     504.0      986.0
646.0                   167597  3.042260e+21     646.0     1938.0
679.0                   108364  3.162703e+21     679.0     1382.0
800.0                   158984  3.596448e+21     800.0     1649.0
1569.0                   44637  7.157282e+21    1569.0     3080.0
1627.0                  367702  7.726530e+21    1627.0     3239.0
3662.0                  633044  1.686294e+22    3662.0     7321.0
3820.0                  401836  1.781619e+22    3820.0     7795.0
15757.0                2741581  7.283071e+22   15757.0    33198.0
27976.0                3043837  1.285878e+23   27976.0    55873.0
40371.0                3768525  1.860493e+23   40371.0    75060.0
377704.0              42798227  1.740235e+24  377704.0   756630.0

[71 rows x 4 columns]

In [ ]:
#Agregamos features
columns_to_xgboost = ['ref_hash','source_id'\
                      ,'ref_type','secs_to_next_mean'\
                      ,'date_int','next_date_int','secs_to_next','alta_demanda','pico_demanda','is_week']